We just build the following URL in an exercise: 

https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_815732.csv?Cruise_ID,Cast_ID,Station_ID,UTC_Date,UTC_Time,time,latitude,longitude,depth,Strain_Gauge_Pressure,Conductivity,Salinity,Temperature,Potential_Temp,Density,Sigma_theta,Oxygen_mLL,Oxygen_pcnt,PAR_Irradiance,ISUS,flag

Let's now download it with python to our computer locally

The urllib library is part of the erddapy package that you have installed. Import this package into the Python environment  to work with url's in your environment

In [1]:
# Import the urllib library
import urllib.request

Some characters cannot be part of a URL, like commas and >. When pasting a URL with comma's into your webbrowser it automatically translates those carachers into a different encoding before transmission.

In [2]:
#define the url you want to download
download_url = "https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_783911.csv?Station,time,Temperature,latitude,longitude&Temperature%3E=0&Temperature%3C=2"

In [3]:
# Define where you want to save the file on your computer
name_to_save = "bcodmo_dataset_815732.csv"

# download the dataset   
urllib.request.urlretrieve(download_url, name_to_save)

('bcodmo_dataset_815732.csv', <http.client.HTTPMessage at 0x11baf9352b0>)

Import the **Pandas library** to work with tables in your Python environment.

In [4]:
# Import the downloaded .csv data into jupyter notebooks with the package Pandas
import pandas as pd
dataframe = pd.read_csv ("bcodmo_dataset_815732.csv", dtype='unicode')
dataframe

,Station,time,Temperature,latitude,longitude
0,unitless,UTC,degrees Celsius (C),degrees_north,degrees_east
1,1,2017-12-26T19:16:13Z,1.2502,-64.72202,-87.27946
2,1,2017-12-26T19:16:17Z,1.2482,-64.72202,-87.27946
3,1,2017-12-26T19:16:19Z,1.2462,-64.72202,-87.27946
4,1,2017-12-26T19:16:22Z,1.2537,-64.72202,-87.27946
...,...,...,...,...,...
6255,50,2018-02-02T20:11:23Z,0.4387,-74.74086,165.4884
6256,50,2018-02-02T20:11:26Z,0.401,-74.74086,165.4884
6257,50,2018-02-02T20:11:29Z,0.329,-74.74086,165.4884
6258,50,2018-02-02T20:11:32Z,0.2629,-74.74086,165.4884
6259,50,2018-02-02T20:11:36Z,0.1168,-74.74086,165.4884